@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gradient-to-b from-[#0b0f2a] via-[#0c112f] to-[#050819] text-gray-100 min-h-screen;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
